<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户信息</title>
    <link rel="stylesheet" href="../css/base.css">
    <link rel="stylesheet" type="text/css" href="../css/index.css">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" type="text/css" href="../css/footer.css"/>
</head>
<body>
    <div class="header_top_wrap">
            <div class="header_top clearfix">
                <div class="header_top_l fl">
                    <h6 class="inline_block h6">欢迎光临美鲜冻品商城</h6>
                    <div class="loginandregister inline_block">
                        <a href="###">登录</a>|
                        <a href="###">注册</a>
                    </div>
                </div>
                <ul class="header_top_list clearfix fr">
                    <li class="fl item1">
                        <a href="###">我的美鲜</a>
                        <span></span>
                        <ul class="usermsgnav">
                            <li><a href="###">我的订单</a></li>
                            <li><a href="###">用户信息</a></li>
                            <li><a href="###">收货地址</a></li>
                            <li><a href="###">我的红包</a></li>
                            <li><a href="###">资金管理</a></li>
                        </ul>
                    </li>
                    <li class="fl item2">
                        <span class="shopcar_icon"></span>
                        <a href="###">我的购物车</a>
                        <span class="shop_count">0</span>
                        <span class="down_icon"></span>
                    </li>
                    <li class="fl item3"><a href="###">积分商城</a></li>
                    <li class="fl item4">
                        <span class="phone_icon"></span>
                        <a href="###">手机逛美鲜</a>
                        <div class="erweima"><img src="../image/img_cgl/erweima.png" alt=""></div>
                    </li>
                    <li class="fl item5">
                        <span class="map_icon"></span>
                        <a href="###">网站地图</a>
                    </li>
                </ul>
            </div>
        </div>
    <!-- 我是分割线 -->

    <div class="header">
        <div class="center">
            <div class="center_left">
                <img src="../image/img_chen/logo.png" alt="">
                <div class="nav">
                    <a href="">用户中心</a>
                    <div class="account">账户设置</div>
                </div>
            </div>
            <div class="center_right">
                <input type="text" class="inp" name="" placeholder="千叶豆腐">
                <input type="submit" class="sub" name="" value="搜索">
            </div>
        </div>
    </div>
    <div class="header_info">
        <div class="header_info_both">
            <div class="header_info_left">
                <a href="###">注册用户</a>
                <span class="sp1">账户安全：</span>
                <div class="safe_level"></div>
                <span class="sp2">较低</span>
            </div>
            <div class="header_info_right">
                <ul>
                    <li class="li1"><a href="">手机已绑定</a></li>
                    <li class="li2"><a href="">修改密码</a></li>
                    <li class="li3"><a href="">地址管理</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="content_left">
            <h2>订货管理</h2>
            <ul>
                <li><a href="">我的订单</a></li>
                <li><a href="">我的退货单</a></li>
            </ul>
            <h2>关注中心</h2>
            <ul>
                <li><a href="">我关注的商品</a></li>
                <li><a href="">常购商品</a></li>
                <li><a href="">活动收藏</a></li>
            </ul>   
            <h2>我的资产</h2>
            <ul>
                <li><a href="">我的余额</a></li>
                <li><a href="">我的积分</a></li>
                <li><a href="">我的优惠券</a></li>
                <li><a href="">我的现金券</a></li>
            </ul>
            <h2>设置</h2>
            <ul>
                <li><a href="">个人资料</a></li>
                <li><a href="">地址管理</a></li>
                <li><a href="">商家认证</a></li>
            </ul>
            <h2>推广中心</h2>
            <ul>
                <li><a href="">推广链接</a></li>
                <li><a href="">推广明细</a></li>
            </ul>
            <h2>美鲜金融</h2>
            <ul>
                <li><a href="">招商银行</a></li>
                <li><a href="">齐鲁银行</a></li>
                <li><a href="">申请进度查询</a></li>
                <li><a href="">美鲜货说明</a></li>
            </ul>
        </div>
        <div class="content_right">
            <h5>个人信息</h5>
            <div class="user_set">
                <div class="user_set_left">
                    <span class="data_change">基本资料修改</span><span class="password_change">密码修改</span>
                    <form class="form1" action="">
                        <div class="user_item">
                            <span>用户名：</span>
                            <div class="user_con">XXXXXX</div>
                        </div>
                        <div class="user_item">
                            <span>出生日期：</span>
                           
                        </div>
                        <div class="user_item">
                            <span>性别：</span>
                            <input class="radio" type="radio" name="sex" value="">&nbsp;保密&nbsp;&nbsp;
                            <input class="radio" type="radio" name="sex" value="">&nbsp;男&nbsp;&nbsp;
                            <input class="radio" type="radio" name="sex" value="">&nbsp;女

                        </div>
                        <div class="user_item">
                            <span>是否开启库存：</span>
                            <input class="radio" type="radio" name="is_stock" value="">&nbsp;是&nbsp;&nbsp;
                            <input class="radio" type="radio" name="is_stock" value="">&nbsp;否
                        </div>
                        <div class="user_item">
                            <span>电子邮件地址：</span>
                            <input type="text" name="">
                        </div>
                        <div class="user_item">
                            <span>真实姓名：</span>
                            <input type="text" name="">
                        </div>
                        <div class="user_item">
                            <span>所在地：</span>
                           
                        </div>
                        <div class="user_item">
                            <span>详细地址：</span>
                            <input type="text" name="">
                            
                        </div>
                        <div class="user_item">
                            <input type="submit" class="sub" name="" value="确认修改">
                        </div>
                    </form>
                    <form class="form2" action="">
                        <div class="user_item">
                            <span>原密码：</span>
                            <input type="text" name="">
                        </div>
                        <div class="user_item">
                            <span>新密码：</span>
                            <input type="text" name="">
                        </div>
                        <div class="user_item">
                            <span>确认密码：</span>
                            <input type="text" name="">
                        </div>
                        <div class="user_item">
                            <input type="submit" class="sub" name="" value="确认修改">
                        </div>
                    </form>
                </div>
                <div class="user_set_right">
                    <div class="mask"></div>
                    <div class="user_set_right_info">
                        <div>用户名：<span>chenyuhe</span></div>
                        <div class="u_level">
                            <span><img width="17" height="17" src="../image/img_chen/member.jpg" alt=""></span><span><a href="###" style="color:#005ea7;">注册用户</a></span>
                        </div>
                        <div class="u_safe">
                            <span><a href="###">账户安全：</a></span><strong style="font-size: 12px;color:#f44e41;">较低</strong>
                        </div>
                    </div>
                </div>
                <div class="warn">注：修改手机请到<a href="###">账户安全</a></div>
            </div>
        </div>
    </div>
    <!-- 我是分割线 -->
    <footer>
            <div class="part1">
                <div class="part1_content">
                    <ul class="clearfix">
                        <li>
                            <span class="car_icon"></span>
                            <h3>美鲜冷链，仓配专家</h3>
                            <p>全程冷链，6/24小时送货上门</p>
                        </li>
                        <li>
                            <span class="car_icon"></span>
                            <h3>美鲜冷链，仓配专家</h3>
                            <p>全程冷链，6/24小时送货上门</p>
                        </li>
                        <li>
                            <span class="car_icon"></span>
                            <h3>美鲜冷链，仓配专家</h3>
                            <p>全程冷链，6/24小时送货上门</p>
                        </li>
                        <li>
                            <span class="car_icon"></span>
                            <h3>美鲜冷链，仓配专家</h3>
                            <p>全程冷链，6/24小时送货上门</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="part2">
                <table class="table" border="" cellspacing="0" cellpadding="0">
                    <tr>
                        <th>购物指南</th>
                        <th>会员服务</th>
                        <th>配送方式</th>
                        <th>售后服务</th>
                        <th>餐饮支持</th>
                        <th>关于美鲜</th>
                    </tr>
                    <tr>
                        <td><a href="###">购物流程</a></td>
                        <td><a href="###">会员级别</a></td>
                        <td><a href="###">物流配送</a></td>
                        <td><a href="###">免责条款</a></td>
                        <td><a href="###">餐饮动态</a></td>
                        <td><a href="###">联系我们</a></td>
                    </tr>
                    <tr>
                        <td><a href="###">注册登录</a></td>
                        <td><a href="###">试用装申领额度</a></td>
                        <td><a href="###">订单截止时间</a></td>
                        <td><a href="###">退换货政策</a></td>
                        <td><a href="###">美鲜菜谱</a></td>
                        <td><a href="###">关于我们</a></td>
                    </tr>
                    <tr>
                        <td><a href="###">提交订单</a></td>
                        <td><a href="###">积分细则</a></td>
                        <td><a href="###">美鲜冷链</a></td>
                        <td><a href="###">退货流程</a></td>
                        <td><a href="###">美鲜课堂</a></td>
                        <td><a href="###">加入我们</a></td>
                    </tr>
                    <tr>
                        <td><a href="###">支付方式</a></td>
                        <td><a href="###">会员餐厅使用说明</a></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td><a href="###">友链申请</a></td>
                    </tr>
                    <tr>
                        <td><a href="###">支付常见问题</a></td>
                        <td><a href="###">连锁餐厅使用说明</a></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td><a href="###">订单管理</a></td>
                        <td><a href="###">pc充值升级流程</a></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td><a href="###">支付限额</a></td>
                        <td><a href="###">APP充值升级流程</a></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><a href="###">认证会员权益</a></td>
                    </tr>
                </table>
            </div>
            <div class="part3">
                <div class="friendlink">
                    <strong>友情链接:</strong>
                    <a href="###">养殖网</a>
                    <a href="###">美食网</a>
                    <a href="###">特步网</a>
                    <a href="###">当当网</a>
                    <a href="###">淘宝网</a>
                </div>
            </div>
            <div class="part4">
                <p>© 2005-2017 美鲜冻品商城 版权所有，并保留所有权利。</p>
                <p>济南市历下区龙奥北路8号海尔玉兰广场3号楼606 Tel: 4006-728-726</p>
                <p>ICP备案证书号:<a style="color:#666;" href="###">鲁ICP备11002915号</a></p>
            </div>
            <div class="part5">
                <div class="footer_img">
                    <img src="../image/img_cgl/zhifubao.png" alt="" />
                    <img src="../image/img_cgl/footer_info_r1_c1.jpg" alt="" />
                    <img src="../image/img_cgl/footer_info_r1_c3.jpg" alt="" />
                    <img src="../image/img_cgl/footer_info_r1_c7.jpg" alt="" />
                    <img src="../image/img_cgl/wangjing (1).png" alt="" />
                </div>
            </div>
        </footer>
</body>
<script type="text/javascript" src="../js/index.js"></script>
</html>