<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>试用装申领</title>
		<link rel="stylesheet" href="../css/apply.css" />
		<link rel="stylesheet" href="../css/base.css" />
		<link rel="stylesheet" href="../css/header.css" />
		<link rel="stylesheet" type="text/css" href="../css/footer.css"/>
		<link rel="stylesheet" href="../css/aside.css" />
	</head>
	<body>
		<div class="top"></div>
	<header class="header">
		<div class="header_top_wrap">
			<div class="header_top clearfix">
				<div class="header_top_l fl">
					<h6 class="inline_block h6"></h6>
					<div class="loginandregister inline_block">
						<a href="../../login/html/index.html">登录</a>|
						<a href="../../register/index.html">注册</a>
					</div>
				</div>
				<ul class="header_top_list clearfix fr">
					<li class="fl item1">
						<a href="###">我的美鲜</a>
						<span></span>
						<ul class="usermsgnav">
							<li><a href="###">我的订单</a></li>
							<li><a href="###">用户信息</a></li>
							<li><a href="###">收货地址</a></li>
							<li><a href="###">我的红包</a></li>
							<li><a href="###">资金管理</a></li>
						</ul>
					</li>
					<li class="fl item2">
						<span class="shopcar_icon"></span>
						<a href="###">我的购物车</a>
						<span class="shop_count">0</span>
						<span class="down_icon"></span>
					</li>
					<li class="fl item3"><a href="###">积分商城</a></li>
					<li class="fl item4">
						<span class="phone_icon"></span>
						<a href="###">手机逛美鲜</a>
						<div class="erweima"><img src="../image/img_cgl/erweima.png" alt=""></div>
					</li>
					<li class="fl item5">
						<span class="map_icon"></span>
						<a href="###">网站地图</a>
					</li>
				</ul>
			</div>
		</div>
		<!-- //////////////////////////// -->
		<div class="header_search">
			<div class="logo inline_block">
				<a href="index.html">
					<img src="../image/img_cgl/logo.jpg" alt="">
				</a>
			</div>
			<div class="search inline_block">
				<form action="" method="">                                                                 
					<input class="text" type="text" name="">
					<a class="withlist" href="###"><span class="search_btn" id="btn" value="搜索">搜索</span></a>
					<div class="resultmsg">
						<ul class="resultmsg_list">
							<!--<li>dfhsjj</li>
							<li>dfhsjj</li>
							<li>dfhsjj</li>-->
						</ul>
						<input type="button" class="close" value="关闭"></input>
					</div>
				</form>
				<div class="hotwords">
					<strong >热门搜索</strong>
					<a href="###">1</a>
					<a href="###">2</a>
					<a href="###">3</a>
				</div>
			</div>
		</div>
		<!-- ///////////////////////// -->
		
		<div class="cat_all_wrap">
			<div class="nav">
				<ul class="clearfix">
					<li><a href="index.html">首页</a><span>/</span></li>
					<li><a href="newGoods.html">新品上架</a><span>/</span><span class="new_icon"></span></li>
					<li><a href="###">美鲜预售</a><span>/</span></li>
					<li><a href="apply.html">试用装申领</a><span>/</span></li>
					<li><a href="recharge.html">充值有礼</a><span>/</span></li>
					<li><a href="free.html">美鲜冷链</a><span>/</span></li>
					<li><a href="canyingcehua.html">餐饮策划</a><span>/</span></li>
					<li><a href="caipinyanfa.html">菜品研发</a><span>/</span></li>
				</ul>
			</div>
			<div class="cat_all">
				<div class="menu_title clearfix">
					<h4><a class="cat_all_a" href="###">全部商品分类</a></h4>
					<span></span>
				</div>
				<div class="menu_list">
					<ul class="menu_list_item">
						<!--js填充-->
						<div class="tag_list clearfix">
							<!--js填充-->
						</div>
					</ul>
				</div>
			</div>
		</div>
		<div class="line"></div>
	</header>
	<!-- 侧边栏 -->
		<div class="aside clearfix">
			<div class="shoppingcar fl">
				<div class="shoppingcar_model">
					<h2>
						<a href="###">
							<i></i>
							<span>美鲜自营</span>
						</a>
						<addres id="address">济南仓</addres>
					</h2>
					<ul class="menu_list">
						<li class="clearfix">
							<a class="fl" href="###"><img src=""/></a>
							<div class="wares_msg fr">
								<p>味好美 千岛酱 1L/袋 12袋/箱 （单带）</p>
								<span id="price">21.00</span>×
								<span id="count">1</span>
							</div>
							<button id="deletebtn">删除</button>
						</li>
					</ul>
				</div>
				<div class="shopnone">
					<img src="../image/img_cgl/icon_nothing.jpg" alt="" />
					<p>购物车空空的，赶快去挑选心仪的商品吧！</p>
				</div>
				<div class="balance clearfix">
					<div class="blance_left fl">
						<span>共<s>0</s>件商品 共计<s>￥0</s></span>
					</div>
					<div class="blance_right fr">
						<a href="###">去购物车</a>
					</div>
				</div>
			</div>
			<!--///////////////////////////////////////////-->
			<ul class="aside_list fr">
				<li class="aside_list_item1">
					<a href="###">
						<i></i>
						<p class="shopcar_text">购物车</p>
						<span class="aside_shoppingcar_count">0</span>
					</a>
				</li>
				<li class="aside_list_item2">
					<a href="###">
						<i></i>
						<div><span>客服qq点击交谈</span></div>
					</a>
				</li>
				<li class="aside_list_item2 aside_list_item3">
					<a href="###">
						<span id="speacial_span"></span>
						<div><span>客服电话：110-120-999</span></div>
					</a>
				</li>
				<li class="aside_list_item4">
					<a href="###">
						<i></i>
						<div><span></span></div>
					</a>
				</li>
				<li class="aside_list_item5">
					<a href="javascript:scrollTo(0,0);">
						<i></i>
					</a>
				</li>
			</ul>
		</div>
		<!--内容部分-->
		<div class="big_banner">
			<img src="../image/img_ltt/1509297533729173939.jpg" alt="" />
		</div>
		<div class="apply_content">
			<div class="w_1200 auto clearfix">
				<div class="content_left">
					<div class="limit">
						<div class="limit_top">
							<p>当前可用额度</p>
							<h3>￥0</h3>
							<a href=""> 查看不同会员额度等级 > </a>
						</div>
						<div class="myapply">
							<a href="">
								我的申请单
								<span>0</span>
							</a>
						</div>
					</div>
					<div class="list">
						<ul class="clearfix">
							<li class="title">
								<a href="">全部分类</a>
							</li>
							<li>
								<a href="">披萨意面</a>
							</li>
							<li>
								<a href="">披萨意面</a>
							</li>
							<li>
								<a href="">披萨意面</a>
							</li>
							<li>
								<a href="">披萨意面</a>
							</li>
							<li>
								<a href="">披萨意面</a>
							</li>
							<li>
								<a href="">披萨意面</a>
							</li>
							<li>
								<a href="">披萨意面</a>
							</li>
							<li>
								<a href="">披萨意面</a>
							</li>
							<li>
								<a href="">披萨意面</a>
							</li>
							<li>
								<a href="">披萨意面</a>
							</li>
							<li>
								<a href="">披萨意面</a>
							</li>
							<li>
								<a href="">披萨意面</a>
							</li>
							<li>
								<a href="">披萨意面</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="content_right">
					<div class="goods_nav clearfix">
						<div class="nav_left fl">
							<ul class="clearfix">
								<li>
									<a href="###">综合排序</a>
								</li>
								<li>
									<a href="###">上架时间</a>
								</li>
								<li>
									<a href="###">价值</a>
								</li>
							</ul>
						</div>
						<div class="nav_right fr">
							<form action="">
								<input type="text" class="goods_name" placeholder="输入商品名称"/>
								<input type="button" class="btn" name="" id="" value="搜索" />
							</form>
						</div>
					</div>
					<div class="goods_list">
						<ul class="clearfix">
							<li>
								<div class="goods_pic">
									<a href="">
										<img src="../image/img_ltt/4134_thumb_G_1510179378876.jpg" alt="" />
									</a>
								</div>
								<div class="goods_des">
									<span>￥6.00</span>
									<a href="">
										<p>美味源冰花酸梅酱（小样）270g/瓶</p>
									</a>
								</div>
								<div class="goods_add">
									<a href="">
										<span>加入申请单</span>
									</a>
								</div>
							</li>
							<li></li>
							<li></li>
							<li></li>
							<li></li>
							<li></li>
							<li></li>
							<li></li>
							<li></li>
							<li></li>
							<li></li>
							<li></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<!--footer-->
		<footer>
			<div class="part1">
				<div class="part1_content">
					<ul class="clearfix">
						<li>
							<span class="car_icon"></span>
							<h3>美鲜冷链，仓配专家</h3>
							<p>全程冷链，6/24小时送货上门</p>
						</li>
						<li>
							<span class="car_icon"></span>
							<h3>美鲜冷链，仓配专家</h3>
							<p>全程冷链，6/24小时送货上门</p>
						</li>
						<li>
							<span class="car_icon"></span>
							<h3>美鲜冷链，仓配专家</h3>
							<p>全程冷链，6/24小时送货上门</p>
						</li>
						<li>
							<span class="car_icon"></span>
							<h3>美鲜冷链，仓配专家</h3>
							<p>全程冷链，6/24小时送货上门</p>
						</li>
					</ul>
				</div>
			</div>
			<div class="part2">
				<table class="table" border="" cellspacing="0" cellpadding="0">
					<tr>
						<th>购物指南</th>
						<th>会员服务</th>
						<th>配送方式</th>
						<th>售后服务</th>
						<th>餐饮支持</th>
						<th>关于美鲜</th>
					</tr>
					<tr>
						<td><a href="###">购物流程</a></td>
						<td><a href="###">会员级别</a></td>
						<td><a href="###">物流配送</a></td>
						<td><a href="###">免责条款</a></td>
						<td><a href="###">餐饮动态</a></td>
						<td><a href="###">联系我们</a></td>
					</tr>
					<tr>
						<td><a href="###">注册登录</a></td>
						<td><a href="###">试用装申领额度</a></td>
						<td><a href="###">订单截止时间</a></td>
						<td><a href="###">退换货政策</a></td>
						<td><a href="###">美鲜菜谱</a></td>
						<td><a href="###">关于我们</a></td>
					</tr>
					<tr>
						<td><a href="###">提交订单</a></td>
						<td><a href="###">积分细则</a></td>
						<td><a href="###">美鲜冷链</a></td>
						<td><a href="###">退货流程</a></td>
						<td><a href="###">美鲜课堂</a></td>
						<td><a href="###">加入我们</a></td>
					</tr>
					<tr>
						<td><a href="###">支付方式</a></td>
						<td><a href="###">会员餐厅使用说明</a></td>
						<td></td>
						<td></td>
						<td></td>
						<td><a href="###">友链申请</a></td>
					</tr>
					<tr>
						<td><a href="###">支付常见问题</a></td>
						<td><a href="###">连锁餐厅使用说明</a></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td><a href="###">订单管理</a></td>
						<td><a href="###">pc充值升级流程</a></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td><a href="###">支付限额</a></td>
						<td><a href="###">APP充值升级流程</a></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td></td>
						<td><a href="###">认证会员权益</a></td>
					</tr>
				</table>
			</div>
			<div class="part3">
				<div class="friendlink">
					<strong>友情链接:</strong>
					<a href="###">养殖网</a>
					<a href="###">美食网</a>
					<a href="###">特步网</a>
					<a href="###">当当网</a>
					<a href="###">淘宝网</a>
				</div>
			</div>
			<div class="part4">
				<p>© 2005-2017 美鲜冻品商城 版权所有，并保留所有权利。</p>
				<p>济南市历下区龙奥北路8号海尔玉兰广场3号楼606 Tel: 4006-728-726</p>
				<p>ICP备案证书号:<a style="color:#666;" href="###">鲁ICP备11002915号</a></p>
			</div>
			<div class="part5">
				<div class="footer_img">
					<img src="../image/img_cgl/zhifubao.png" alt="" />
					<img src="../image/img_cgl/footer_info_r1_c1.jpg" alt="" />
					<img src="../image/img_cgl/footer_info_r1_c3.jpg" alt="" />
					<img src="../image/img_cgl/footer_info_r1_c7.jpg" alt="" />
					<img src="../image/img_cgl/wangjing (1).png" alt="" />
				</div>
			</div>
		</footer>
	</body>
	<script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
	<script type="text/javascript" src="../js/apply.js"></script>
	<script src="../js/header.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript" src="../js/aside.js"></script>
</html>
