<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>菜品研发</title>
		<link rel="stylesheet" type="text/css" href="../css/base.css" />
		<link rel="stylesheet" type="text/css" href="../css/footer.css" />
		<link rel="stylesheet" type="text/css" href="../css/header.css" />
		<link rel="stylesheet" type="text/css" href="../css/caipinyanfa.css" />
	</head>

	<body>
		<!--头部-->
	<div class="top"></div>
	<header class="header">
		<div class="header_top_wrap">
			<div class="header_top clearfix">
				<div class="header_top_l fl">
					<h6 class="inline_block h6"></h6>
					<div class="loginandregister inline_block">
						<a href="../../login/html/index.html">登录</a>|
						<a href="../../register/index.html">注册</a>
					</div>
				</div>
				<ul class="header_top_list clearfix fr">
					<li class="fl item1">
						<a href="###">我的美鲜</a>
						<span></span>
						<ul class="usermsgnav">
							<li><a href="###">我的订单</a></li>
							<li><a href="###">用户信息</a></li>
							<li><a href="###">收货地址</a></li>
							<li><a href="###">我的红包</a></li>
							<li><a href="###">资金管理</a></li>
						</ul>
					</li>
					<li class="fl item2">
						<span class="shopcar_icon"></span>
						<a href="###">我的购物车</a>
						<span class="shop_count">0</span>
						<span class="down_icon"></span>
					</li>
					<li class="fl item3"><a href="###">积分商城</a></li>
					<li class="fl item4">
						<span class="phone_icon"></span>
						<a href="###">手机逛美鲜</a>
						<div class="erweima"><img src="../image/img_cgl/erweima.png" alt=""></div>
					</li>
					<li class="fl item5">
						<span class="map_icon"></span>
						<a href="###">网站地图</a>
					</li>
				</ul>
			</div>
		</div>
		<!-- //////////////////////////// -->
		<div class="header_search">
			<div class="logo inline_block">
				<a href="index.html">
					<img src="../image/img_cgl/logo.jpg" alt="">
				</a>
			</div>
			<div class="search inline_block">
				<form action="" method="">                                                                 
					<input class="text" type="text" name="">
					<a class="withlist" href="###"><span class="search_btn" id="btn" value="搜索">搜索</span></a>
					<div class="resultmsg">
						<ul class="resultmsg_list">
							<!--<li>dfhsjj</li>
							<li>dfhsjj</li>
							<li>dfhsjj</li>-->
						</ul>
						<input type="button" class="close" value="关闭"></input>
					</div>
				</form>
				<div class="hotwords">
					<strong >热门搜索</strong>
					<a href="###">1</a>
					<a href="###">2</a>
					<a href="###">3</a>
				</div>
			</div>
		</div>
		<!-- ///////////////////////// -->
		
		<div class="cat_all_wrap">
			<div class="nav">
				<ul class="clearfix">
					<li><a href="index.html">首页</a><span>/</span></li>
					<li><a href="newGoods.html">新品上架</a><span>/</span><span class="new_icon"></span></li>
					<li><a href="###">美鲜预售</a><span>/</span></li>
					<li><a href="apply.html">试用装申领</a><span>/</span></li>
					<li><a href="recharge.html">充值有礼</a><span>/</span></li>
					<li><a href="free.html">美鲜冷链</a><span>/</span></li>
					<li><a href="canyingcehua.html">餐饮策划</a><span>/</span></li>
					<li><a href="caipinyanfa.html">菜品研发</a><span>/</span></li>
				</ul>
			</div>
			<div class="cat_all">
				<div class="menu_title clearfix">
					<h4><a class="cat_all_a" href="###">全部商品分类</a></h4>
					<span></span>
				</div>
				<div class="menu_list">
					<ul class="menu_list_item">
						<!--js填充-->
						<div class="tag_list clearfix">
							<!--js填充-->
						</div>
					</ul>
				</div>
			</div>
		</div>
		<div class="line"></div>
	</header>
		<div class="content">
			<div class="banner1"></div>
			<div class="banner2"></div>
			<div class="banner3"></div>
			<div class="banner4"></div>
			<div class="banner5"></div>
			<div class="banner6"></div>
			<div class="banner7" id="list1"></div>
			<div class="banner8"></div>
			<div class="banner9"></div>
			<div class="banner10" id="list2"></div>
			<div class="banner11"></div>
			<div class="banner12"></div>
			<div class="banner13" id="list3"></div>
			<div class="banner14" id="list4"></div>
			<div class="banner15"></div>
			<div class="banner16" id="list5"></div>
			<div class="banner17" id="list6"></div>
			<div class="banner18"></div>
			<div class="banner19"></div>
			<div class="banner20"></div>
			<div class="banner21"></div>
			<div class="banner22"></div>
			<div class="banner23">
				<div class="fsbanner" style="width:1100px;height:560px;background: url(../image/img_h/gao.jpg) no-repeat center;margin: 0 auto;"></div>
			</div>
			<div class="floating">
				<a href="javascript:scrollTo(0,0);"></a>
			</div>
			<a href="javascript:scrollTo(0,0);" class="link_cursor"></a>
		</div>
		<footer>
			<div class="part1">
				<div class="part1_content">
					<ul class="clearfix">
						<li>
							<span class="car_icon"></span>
							<h3>美鲜冷链，仓配专家</h3>
							<p>全程冷链，6/24小时送货上门</p>
						</li>
						<li>
							<span class="car_icon"></span>
							<h3>美鲜冷链，仓配专家</h3>
							<p>全程冷链，6/24小时送货上门</p>
						</li>
						<li>
							<span class="car_icon"></span>
							<h3>美鲜冷链，仓配专家</h3>
							<p>全程冷链，6/24小时送货上门</p>
						</li>
						<li>
							<span class="car_icon"></span>
							<h3>美鲜冷链，仓配专家</h3>
							<p>全程冷链，6/24小时送货上门</p>
						</li>
					</ul>
				</div>
			</div>
			<div class="part2">
				<table class="table" border="" cellspacing="0" cellpadding="0">
					<tr>
						<th>购物指南</th>
						<th>会员服务</th>
						<th>配送方式</th>
						<th>售后服务</th>
						<th>餐饮支持</th>
						<th>关于美鲜</th>
					</tr>
					<tr>
						<td>
							<a href="###">购物流程</a>
						</td>
						<td>
							<a href="###">会员级别</a>
						</td>
						<td>
							<a href="###">物流配送</a>
						</td>
						<td>
							<a href="###">免责条款</a>
						</td>
						<td>
							<a href="###">餐饮动态</a>
						</td>
						<td>
							<a href="###">联系我们</a>
						</td>
					</tr>
					<tr>
						<td>
							<a href="###">注册登录</a>
						</td>
						<td>
							<a href="###">试用装申领额度</a>
						</td>
						<td>
							<a href="###">订单截止时间</a>
						</td>
						<td>
							<a href="###">退换货政策</a>
						</td>
						<td>
							<a href="###">美鲜菜谱</a>
						</td>
						<td>
							<a href="###">关于我们</a>
						</td>
					</tr>
					<tr>
						<td>
							<a href="###">提交订单</a>
						</td>
						<td>
							<a href="###">积分细则</a>
						</td>
						<td>
							<a href="###">美鲜冷链</a>
						</td>
						<td>
							<a href="###">退货流程</a>
						</td>
						<td>
							<a href="###">美鲜课堂</a>
						</td>
						<td>
							<a href="###">加入我们</a>
						</td>
					</tr>
					<tr>
						<td>
							<a href="###">支付方式</a>
						</td>
						<td>
							<a href="###">会员餐厅使用说明</a>
						</td>
						<td></td>
						<td></td>
						<td></td>
						<td>
							<a href="###">友链申请</a>
						</td>
					</tr>
					<tr>
						<td>
							<a href="###">支付常见问题</a>
						</td>
						<td>
							<a href="###">连锁餐厅使用说明</a>
						</td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td>
							<a href="###">订单管理</a>
						</td>
						<td>
							<a href="###">pc充值升级流程</a>
						</td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td>
							<a href="###">支付限额</a>
						</td>
						<td>
							<a href="###">APP充值升级流程</a>
						</td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td></td>
						<td>
							<a href="###">认证会员权益</a>
						</td>
					</tr>
				</table>
			</div>
			<div class="part3">
				<div class="friendlink">
					<strong>友情链接:</strong>
					<a href="###">养殖网</a>
					<a href="###">美食网</a>
					<a href="###">特步网</a>
					<a href="###">当当网</a>
					<a href="###">淘宝网</a>
				</div>
			</div>
			<div class="part4">
				<p>© 2005-2017 美鲜冻品商城 版权所有，并保留所有权利。</p>
				<p>济南市历下区龙奥北路8号海尔玉兰广场3号楼606 Tel: 4006-728-726</p>
				<p>ICP备案证书号:
					<a style="color:#666;" href="###">鲁ICP备11002915号</a>
				</p>
			</div>
			<div class="part5">
				<div class="footer_img">
					<img src="../image/img_cgl/zhifubao.png" alt="" />
					<img src="../image/img_cgl/footer_info_r1_c1.jpg" alt="" />
					<img src="../image/img_cgl/footer_info_r1_c3.jpg" alt="" />
					<img src="../image/img_cgl/footer_info_r1_c7.jpg" alt="" />
					<img src="../image/img_cgl/wangjing (1).png" alt="" />
				</div>
			</div>
		</footer>
	</body>

</html>