<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户信息</title>
    <link rel="stylesheet" href="../css/base.css">
    <link rel="stylesheet" type="text/css" href="../css/instruction.css">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" type="text/css" href="../css/footer.css"/>
</head>
<body>
    <div class="header_top_wrap">
            <div class="header_top clearfix">
                <div class="header_top_l fl">
                    <h6 class="inline_block h6">欢迎光临美鲜冻品商城</h6>
                    <div class="loginandregister inline_block">
                        <a href="###">登录</a>|
                        <a href="###">注册</a>
                    </div>
                </div>
                <ul class="header_top_list clearfix fr">
                    <li class="fl item1">
                        <a href="###">我的美鲜</a>
                        <span></span>
                        <ul class="usermsgnav">
                            <li><a href="###">我的订单</a></li>
                            <li><a href="###">用户信息</a></li>
                            <li><a href="###">收货地址</a></li>
                            <li><a href="###">我的红包</a></li>
                            <li><a href="###">资金管理</a></li>
                        </ul>
                    </li>
                    <li class="fl item2">
                        <span class="shopcar_icon"></span>
                        <a href="###">我的购物车</a>
                        <span class="shop_count">0</span>
                        <span class="down_icon"></span>
                    </li>
                    <li class="fl item3"><a href="###">积分商城</a></li>
                    <li class="fl item4">
                        <span class="phone_icon"></span>
                        <a href="###">手机逛美鲜</a>
                        <div class="erweima"><img src="../image/img_cgl/erweima.png" alt=""></div>
                    </li>
                    <li class="fl item5">
                        <span class="map_icon"></span>
                        <a href="###">网站地图</a>
                    </li>
                </ul>
            </div>
        </div>
    <!-- 我是分割线 -->

    <div class="header">
        <div class="center">
            <div class="center_left">
                <img src="../image/img_chen/logo.png" alt="">
                <div class="nav">
                    <a href="">用户中心</a>
                    <div class="account">账户设置</div>
                </div>
            </div>
            <div class="center_right">
                <input type="text" class="inp" name="" placeholder="千叶豆腐">
                <input type="submit" class="sub" name="" value="搜索">
            </div>
        </div>
    </div>
    <div class="header_info">
        <div class="header_info_both">
            <div class="header_info_left">
                <a href="###">注册用户</a>
                <span class="sp1">账户安全：</span>
                <div class="safe_level"></div>
                <span class="sp2">较低</span>
            </div>
            <div class="header_info_right">
                <ul>
                    <li class="li1"><a href="">手机已绑定</a></li>
                    <li class="li2"><a href="">修改密码</a></li>
                    <li class="li3"><a href="">地址管理</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="content">
        <a href="###"><img src="../image/img_chen/list_01.jpg" alt=""></a>
        <a href="###"><img src="../image/img_chen/list_02.jpg" alt=""></a>
        <a href="###"><img src="../image/img_chen/list_03.jpg" alt=""></a>
        
    </div>
    <!-- 我是分割线 -->
    <footer>
            <div class="part1">
                <div class="part1_content">
                    <ul class="clearfix">
                        <li>
                            <span class="car_icon"></span>
                            <h3>美鲜冷链，仓配专家</h3>
                            <p>全程冷链，6/24小时送货上门</p>
                        </li>
                        <li>
                            <span class="car_icon"></span>
                            <h3>美鲜冷链，仓配专家</h3>
                            <p>全程冷链，6/24小时送货上门</p>
                        </li>
                        <li>
                            <span class="car_icon"></span>
                            <h3>美鲜冷链，仓配专家</h3>
                            <p>全程冷链，6/24小时送货上门</p>
                        </li>
                        <li>
                            <span class="car_icon"></span>
                            <h3>美鲜冷链，仓配专家</h3>
                            <p>全程冷链，6/24小时送货上门</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="part2">
                <table class="table" border="" cellspacing="0" cellpadding="0">
                    <tr>
                        <th>购物指南</th>
                        <th>会员服务</th>
                        <th>配送方式</th>
                        <th>售后服务</th>
                        <th>餐饮支持</th>
                        <th>关于美鲜</th>
                    </tr>
                    <tr>
                        <td><a href="###">购物流程</a></td>
                        <td><a href="###">会员级别</a></td>
                        <td><a href="###">物流配送</a></td>
                        <td><a href="###">免责条款</a></td>
                        <td><a href="###">餐饮动态</a></td>
                        <td><a href="###">联系我们</a></td>
                    </tr>
                    <tr>
                        <td><a href="###">注册登录</a></td>
                        <td><a href="###">试用装申领额度</a></td>
                        <td><a href="###">订单截止时间</a></td>
                        <td><a href="###">退换货政策</a></td>
                        <td><a href="###">美鲜菜谱</a></td>
                        <td><a href="###">关于我们</a></td>
                    </tr>
                    <tr>
                        <td><a href="###">提交订单</a></td>
                        <td><a href="###">积分细则</a></td>
                        <td><a href="###">美鲜冷链</a></td>
                        <td><a href="###">退货流程</a></td>
                        <td><a href="###">美鲜课堂</a></td>
                        <td><a href="###">加入我们</a></td>
                    </tr>
                    <tr>
                        <td><a href="###">支付方式</a></td>
                        <td><a href="###">会员餐厅使用说明</a></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td><a href="###">友链申请</a></td>
                    </tr>
                    <tr>
                        <td><a href="###">支付常见问题</a></td>
                        <td><a href="###">连锁餐厅使用说明</a></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td><a href="###">订单管理</a></td>
                        <td><a href="###">pc充值升级流程</a></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td><a href="###">支付限额</a></td>
                        <td><a href="###">APP充值升级流程</a></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><a href="###">认证会员权益</a></td>
                    </tr>
                </table>
            </div>
            <div class="part3">
                <div class="friendlink">
                    <strong>友情链接:</strong>
                    <a href="###">养殖网</a>
                    <a href="###">美食网</a>
                    <a href="###">特步网</a>
                    <a href="###">当当网</a>
                    <a href="###">淘宝网</a>
                </div>
            </div>
            <div class="part4">
                <p>© 2005-2017 美鲜冻品商城 版权所有，并保留所有权利。</p>
                <p>济南市历下区龙奥北路8号海尔玉兰广场3号楼606 Tel: 4006-728-726</p>
                <p>ICP备案证书号:<a style="color:#666;" href="###">鲁ICP备11002915号</a></p>
            </div>
            <div class="part5">
                <div class="footer_img">
                    <img src="../image/img_cgl/zhifubao.png" alt="" />
                    <img src="../image/img_cgl/footer_info_r1_c1.jpg" alt="" />
                    <img src="../image/img_cgl/footer_info_r1_c3.jpg" alt="" />
                    <img src="../image/img_cgl/footer_info_r1_c7.jpg" alt="" />
                    <img src="../image/img_cgl/wangjing (1).png" alt="" />
                </div>
            </div>
        </footer>
</body>
<script type="text/javascript" src="../js/index.js"></script>
<script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
<script type="text/javascript" src="../js/jquery-3.2.1.min.js"></script>

</html>