.banner1,.banner2,.banner3,.banner5,.banner6,.banner7,.banner8,.banner9,.banner10,.banner12,.banner13,.banner14,.banner15,.banner16,.banner17,.banner19,.banner20,.banner21{
	height: 413px;
	width: 100%;
	background: url(../image/img_ltt/list_01.jpg);
}
.banner2{
	background: url(../image/img_ltt/list_02.jpg);
}
.banner3{
	background: url(../image/img_ltt/list_03.jpg);
}
.banner4,.banner11,.banner18{
	width: 100%;
	height: 412px;
	background: url(../image/img_ltt/list_04.jpg);
}
.banner5{
	background: url(../image/img_ltt/list_05.jpg);
}
.banner6{
	background: url(../image/img_ltt/list_06.jpg);
}
.banner7{
	background: url(../image/img_ltt/list_07.jpg);
}
.banner8{
	background: url(../image/img_ltt/list_08.jpg);
}
.banner9{
	background: url(../image/img_ltt/list_09.jpg);
}
.banner10{
	background: url(../image/img_ltt/list_10.jpg);
}
.banner11{
	background: url(../image/img_ltt/list_11.jpg);
}
.banner12{
	background: url(../image/img_ltt/list_12.jpg);
}
.banner13{
	background: url(../image/img_ltt/list_13.jpg);
}
.banner14{
	background: url(../image/img_ltt/list_14.jpg);
}
.banner15{
	background: url(../image/img_ltt/list_15.jpg);
}
.banner16{
	background: url(../image/img_ltt/list_16.jpg);
}
.banner17{
	background: url(../image/img_ltt/list_17.jpg);
}
.banner18{
	background: url(../image/img_ltt/list_18.jpg);
}
.banner19{
	background: url(../image/img_ltt/list_19.jpg);
}
.banner20{
	background: url(../image/img_ltt/list_20.jpg);
}
.banner21{
	background: url(../image/img_ltt/list_21.jpg);
}
.float{
	position: fixed;
	top: 100px;
	right: 4px;
	z-index: 10;
}
/* iiiiiiiii*/
.cat_all_wrap .nav li:nth-child(6) a{
	border-bottom: 2px solid #1a9733;
	color: #1a9733;
	display: inline-block;
	height: 37px;
	/*padding-bottom: 1px;*/
}