.banner{
	width: 100%;
	height: 400px;
}
.goods_content{
	width: 100%;
	background: #f4f4f4;
}
.goods_content .goods_bg{
	width: 100%;
	height: 162px;
	background: url(../image/img_ltt/new_bg.png) no-repeat;
}
.goods_content .goods_bg .goods_title{
	text-align: center;
	padding-top: 80px;
}
.good_list{
	width: 1220px;
}
.good_list ul li{
	float: left;
	width: 240px;
	padding: 15px 22px;
	margin: 10px;
	background: #fff;
}
.good_list ul li img{
	width: 240px;
	height: 240px;
}
.good_list ul li a p{
	color: #212121;
	margin-top: 10px;
}
.good_list ul li span{
	color: #E64C3B;
	font-size: 24px;
	font-weight: bold;
	margin-top: 15px;
	display: block;
	text-align: center;
}
